@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Century";
  src: url("/fonts/Century.woff2") format("woff2"),
    url("/fonts/Century.woff") format("woff"),
    url("/fonts/Century.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #3c4c56;
  --tertiary-color: #cfb179;
}

.container {
  max-width: 87.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  display: flex;
}

a {
  text-decoration: none;
}

.bar {
  width: 5rem;
  height: 0.5rem;
  background-color: var(--tertiary-color);
  margin: 0 auto 15px;
}

.btn-1,
.btn-2 {
  font-family: "Montserrat";
  font-size: 1.0625rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--primary-color);
  width: 17.725rem;
  height: 2.75rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px #000000;
  position: relative;
  overflow: hidden;
  background: var(--secondary-color);
  z-index: 1;
}
.btn-1::before,
.btn-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.4s ease-in-out;
  z-index: -1;
}
.btn-1:hover::before,
.btn-2:hover::before {
  left: 0;
}

.btn-1::before {
  background: var(--tertiary-color);
}

.btn-2 {
  background: var(--tertiary-color);
}
.btn-2::before {
  background: var(--secondary-color);
}

#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("../images/banner-home.png") center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;

  .container {
    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
        z-index: -1;
      }

      .nav-wrapper {
        max-width: 87.5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 15px;
        margin: 0 auto;
        transition: padding 0.3s ease-in-out;
      }

      .menu-toggle {
        display: none;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
      }

      .logo {
        img {
          transition: height 0.3s ease-in-out;
        }
      }

      ul.menu {
        display: flex;
        align-items: center;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: clamp(1rem, 2vw, 1.375rem);
        list-style-type: none;
        gap: 1.25rem;
        transition: font-size 0.3s ease-in-out;
      }

      li.f-facebook {
        display: flex;
        align-items: center;
        gap: 1.25rem;
      }

      li.border-right {
        position: relative;
        padding-right: 1.25rem;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 1.875rem;
          width: 0.3125rem;
          background-color: var(--primary-color);
        }
      }

      a {
        color: var(--primary-color);
        position: relative;
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0;
          height: 3px;
          background-color: var(--primary-color);
          transition: width 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }
      }

      &.scrolled {
        padding: 0.8rem 0;

        .nav-wrapper {
          padding: 0.8rem 0;
        }

        .logo img {
          height: 90px;
          padding: 0 0 10px;
        }

        ul.menu {
          font-size: 1.1rem;
        }

        &::before {
          background-color: rgba(0, 0, 0, 0.9);
          box-shadow: 0px 0px 5px #000000;
        }
      }
    }
  }

  h1 {
    font-family: "Century";
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-shadow: 3px 2px 4px #000000;
    color: var(--primary-color);
    text-align: center;
    padding: 160px 0 32px 0;
  }

  .btn-group {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0 0 180px 0;
  }

  .btn-group a {
    font-size: clamp(14px, 4vw, 18px);
  }

  @media screen and (max-width: 499px) {
    .logo.move-left {
      transform: translateX(-24%);
    }

    .logo img {
      height: 100px;
    }
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 50px;
    }

    .btn-group {
      padding: 0 0 60px 0;
    }

    .btn-group a {
      font-size: 16px;
    }

    li.border-right {
      padding-right: unset !important;
    }

    li.border-right::after {
      display: none;
    }

    .nav-wrapper {
      width: 100%;
      align-items: center;
    }

    .container nav.scrolled::before {
      padding: 35px 0;
    }

    .logo {
      order: -1;
      text-align: center;
      width: 100%;
      position: relative;
      z-index: 1001;
      transition: transform 0.3s ease-in-out;
    }

    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .logo img {
      width: 135px;
      height: 100%;
    }

    .menu.show .logo {
      transform: translateX(0);
      opacity: 1;
      z-index: 1001;
    }

    .logo.move-left {
      transform: translateX(-35%);
    }

    .menu-toggle {
      display: block !important;
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 20px;
      z-index: 1002;
    }

    .menu-toggle img {
      width: 35px;
      height: 35px;
    }

    .menu {
      display: none;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.9);
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      padding: 90px 30px 50px;
      align-items: end !important;
      align-items: center;
      transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
    }

    .menu.show {
      display: flex;
      max-height: 500px;
      opacity: 1;
    }

    .menu.active {
      display: flex;
    }

    .menu li {
      margin: 10px 0;
    }

    .menu a {
      font-size: 20px;
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#category {
  background: var(--secondary-color);

  .container {
    padding: 50px 0;
    h2 {
      font-size: 40px;
      font-weight: 400;
      letter-spacing: 0.1rem;
      text-shadow: 3px 2px 4px #000000;
      color: var(--primary-color);
      text-align: center;
      padding: 0 0 30px;
    }
    .row {
      gap: 30px;
    }
  }
}

/* Card Styling */
.card {
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

.card img {
  width: 100%;
  object-fit: contain; /* Ensures the full image is visible */
}

.card .product-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px;
  color: #333;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
